$toast-fade-duration: 300;
$toast-fade-duration-ms: $toast-fade-duration + 0ms;

:export {
  toastFadeDuration: $toast-fade-duration;
}

.pui-toast {
  opacity: 1.0;
  box-sizing: border-box;
  transition: height $toast-fade-duration-ms 0ms, opacity $toast-fade-duration-ms $toast-fade-duration-ms;
}

.pui-toast.hide {
  transition: height $toast-fade-duration-ms $toast-fade-duration-ms, opacity $toast-fade-duration-ms 0ms;
  opacity: 0.0;
  height: 0px;
}
