@import 'node_modules/carbon-components/src/globals/scss/spacing';

$toast-animation-duration: 400;
$toast-animation-duration-ms: $toast-animation-duration + 0ms;

$toast-half-animation-duration: ($toast-animation-duration / 2) + 0ms;

$toast-approx-height: 90px;

:export {
  toastAnimationDuration: $toast-animation-duration;
}

.page-box {
  padding: 25px;
  background-color: white;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
}

.pui-toaster-container {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;

  z-index: 1000;

  pointer-events: none;
}

.pui-toaster {
  // Position in top right
  position: absolute;
  top: 0;
  right: 0;

  pointer-events: all;
}

.pui-toast {
  box-sizing: border-box;
  overflow: hidden;

  transition: transform $toast-animation-duration-ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.pui-toast-entering, .pui-toast-entering ~ .pui-toast {
  transform: translateY(-$toast-approx-height);
  transition: none;
}

.pui-toast-entered {
  transform: translateY(0);
  transition: transform $toast-animation-duration-ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.pui-toast-exiting, .pui-toast-exiting ~ .pui-toast {
  transform: translateY(0);
  opacity: 1;
  transition: none;
}

.pui-toast-exited {
  transform: translateY(-$toast-approx-height);
  opacity: 0;
  transition: opacity $toast-half-animation-duration 0ms, transform $toast-half-animation-duration $toast-half-animation-duration;
}

.pui-tx-modal {
  .bx--modal-close {
    display: none;
  }
  .bx--loading {
    margin: -20px auto 0;
  }
}

.bx--btn {
  text-transform: uppercase;
}

.bx--loading-overlay {
  background-color: white !important;
}

#pui-sto-status-title {
  padding-bottom: $spacing-lg;
}

.pui-sto-status-numbers {
  display: flex;
  justify-content: space-between;
  padding-bottom: $spacing-md;

  > * {
    // Align to bottom
    margin-top: auto;
  }
}

.pui-sto-status-progress-bar {
  margin-bottom: $spacing-xl;
}

.pui-sto-status-bottom-row {
  display: flex;
  justify-content: space-between;
}

.pui-sto-status-dates {
  display: flex;
}
